.nav-brand {
	font-weight: 600;
}
.card-size {
	max-width: 22rem;
}
.img-size {
	max-width: 10rem;
	height: 15rem;
}
.p-5 {
	padding: 5%;
}
.m-5 {
	margin: 5%;
}
.mt-5 {
	margin-top: 5%;
}
.price strong {
	font-size: 1.3rem;
	font-weight: 600;
}
.latest-products-img-size {
	width: 50px;
}
.main-heading {
	display: flex;
	justify-content: center;
	align-items: center;
}
.main-heading p {
	font-size: 2rem;
	margin-left: 10px;
	color: #2962ff;
	font-weight: 600;
}
.card-description {
	min-height: 150px;
}
.single-product-image {
	width: 20rem;
	height: 30rem;
}
.label {
	background: #d81b60;
	color: white;
	padding: 1% 2%;
	display: inline;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
}
.single-product-price {
	font-size: 2rem;
}
